header{
    background:url(imagenes/istockphoto-1292922269-170667a.jpg);
    background-size: contain;
    height:250px;
	width: 100%;
	position: relative;
	left:0;
	top:0;
    padding: 20px 0;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

h1 {
    position: relative;
    bottom: 35px;
    left: 360px;
}
nav {
    position: absolute;
    top: 220px;
    right: 300px;
}

.menu{
    display: inline;
    margin: 0 0 0 15px
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-decoration:wavy;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a:hover{
    color:rgb(219, 222, 223)
}

nav a:active{
    color: #c2cfbb;
}

#banner{
    width:100%;
}

.principal{
    background: #f5f5f5;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.items{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 10px;
}

.Copyright {
    color: aliceblue;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}